<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--Fragment with details of installation directory-->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<!-- Create a folder inside program files with Company Name-->
				<Directory Id="ROOTDIRECTORY" Name="!(loc.Manufacturer)">
					<!-- Create a folder inside Company Name folder with Product Name-->
					<Directory Id="INSTALLFOLDER" Name="!(loc.Name)">
						<Directory Id="CmpFOLDER" Name="Components">
		
							<Directory Id="DeeFolder">

							</Directory>

						</Directory>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="DesktopFolder"/>
 <!--Create application folder in Program Menu-->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="!(loc.Name)"/>
			</Directory>
		</Directory>
	</Fragment>

		
	
</Wix>
