<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpA0863526952F7834E7C922F065E4C8A8" Guid="{BB5AF59B-E4AB-40BB-A876-055AC08A5DDD}">
                <File Id="filC04B02D0CCC2D5CCC1013B35DE86DB29" KeyPath="yes" Source="$(var.LPCFolder)\appsettings.Development.json" />
            </Component>
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="{53DA3FE4-A6D6-4864-B716-6364064812E4}">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.LPCFolder)\appsettings.json" />
            </Component>
            <Component Id="cmp2B62C064A3ED6A94B47BE64C5EB82D9E" Guid="{7F54E06E-BB04-4DF5-A0C2-7DB455D1C37E}">
                <File Id="fil627F933A2694B1BED9FD06B5FDD52C93" KeyPath="yes" Source="$(var.LPCFolder)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmpAD5EBB392A1420D45D001D2850650946" Guid="{09BFA193-59CA-4D1F-839F-4BF1140A1790}">
                <File Id="filEE9BA4D96BE0093FF4E7CEA4BE7BE34B" KeyPath="yes" Source="$(var.LPCFolder)\Grpc.AspNetCore.Server.ClientFactory.dll" />
            </Component>
            <Component Id="cmp332F189ABE775FB6B2F44FCB7028B9C6" Guid="{197A77D4-007D-4A17-BA87-4F7C2F3C5545}">
                <File Id="fil2A0E9EDA788BA4ED9847D51516B16EBE" KeyPath="yes" Source="$(var.LPCFolder)\Grpc.AspNetCore.Server.dll" />
            </Component>
            <Component Id="cmp7530465017BB74DDEEFF284B43AFA164" Guid="{E594C328-F519-4904-BD44-A7E901F16C9F}">
                <File Id="filF3F51DFF9B4F49FA9BB94AD074AA7F28" KeyPath="yes" Source="$(var.LPCFolder)\Grpc.Core.Api.dll" />
            </Component>
            <Component Id="cmp301336F2D44076B758CAAEAEFFD98B4B" Guid="{3D30EDC6-1B33-4593-9118-C77794F97C26}">
                <File Id="fil645F9138B236FAA537DC09760E5BB73A" KeyPath="yes" Source="$(var.LPCFolder)\Grpc.Net.Client.dll" />
            </Component>
            <Component Id="cmp3F2D05E350EB9478FD924CAC5B831615" Guid="{CB4BF98C-35CC-4919-834C-A5C4D158E8A6}">
                <File Id="fil7C198514ED939410623816809E79B976" KeyPath="yes" Source="$(var.LPCFolder)\Grpc.Net.ClientFactory.dll" />
            </Component>
            <Component Id="cmpD5921CC73D3D7D96B18ADAC140DDDBF5" Guid="{141AA501-75CC-4A2C-9601-20028B015C91}">
                <File Id="fil61C6E628E74343C95130875F07EFF332" KeyPath="yes" Source="$(var.LPCFolder)\Grpc.Net.Common.dll" />
            </Component>
            <Component Id="cmp4FDAF4C5B0BA3EB0A9736F58F6BE9C14" Guid="{071E6A5A-06B3-4877-A5F6-2FB7003D8EA5}">
                <File Id="fil0FE55D877EEDFAE91FC60BF90EF49765" KeyPath="yes" Source="$(var.LPCFolder)\launch.bat" />
            </Component>
            <Component Id="cmp81015F934149FC8877A7F508324F01AF" Guid="{3CCBCC55-3D97-43E2-BA28-A46E4BFF0A49}">
                <File Id="fil7DB2AFC3DDCC42180A1B18E20FF48983" KeyPath="yes" Source="$(var.LPCFolder)\Microsoft.AspNetCore.Mvc.Versioning.dll" />
            </Component>
            <Component Id="cmp828BABCAA179DFEF8C123894E628FE4B" Guid="{251CA94A-CE12-4CC8-8F75-3743703F4392}">
                <File Id="filF6E569B7A4467871DC459846AD8CAB0C" KeyPath="yes" Source="$(var.LPCFolder)\Microsoft.Extensions.DependencyModel.dll" />
            </Component>
            <Component Id="cmpFD16E629F3B1C17887ACD3B97583CB13" Guid="{DBCA7F58-EAF3-49E9-9A38-5C63299D008C}">
                <File Id="filEFB595E81CA62CF58EF39208C76F7F06" KeyPath="yes" Source="$(var.LPCFolder)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmp6F76674123E31ADA0CB0373827395329" Guid="{5FF14076-5DB6-4C16-B1E7-8A873EFF7C7F}">
                <File Id="fil24340B036E07AE74D4CB0089D07A83D2" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.AspNetCore.dll" />
            </Component>
            <Component Id="cmp74A2C73F11C177073B0A672936A0D5EB" Guid="{7DACBFB8-D93D-4D43-9BA1-CFF10A86015D}">
                <File Id="fil1CF141D24266A4E5F331DDFE02166A27" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.dll" />
            </Component>
            <Component Id="cmp214710B2088B640AA2C8ECD80E170376" Guid="{3BBF1A49-D724-4500-BD36-E5315A241044}">
                <File Id="filE72D6FFBC556E18D146AC0CA92CF450B" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmpA9CD02E2996345805AE749B403FD0E7A" Guid="{2DF2443A-708A-4844-BAEF-22B099A55ECA}">
                <File Id="fil56CB5FAFD9298B97D060AE19F2DB1B10" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpC08CEB1C24E4A6DA79EE83CFD8BDCD60" Guid="{45B824C7-E012-4D96-8208-DD75E48FD3F5}">
                <File Id="filD89F64F083730E2B8CC0DEE7002EF506" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Formatting.Compact.dll" />
            </Component>
            <Component Id="cmp0E9DAA4C1F27CA840B7893F6337CDC29" Guid="{AA365BB2-FDF2-4A46-BB22-BE305BC05DC8}">
                <File Id="fil3908D6B667B492BF06F390753E52341D" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Settings.Configuration.dll" />
            </Component>
            <Component Id="cmp539EB192BE11EA8C5B17EFB0CC1DDCEB" Guid="{6EC8D725-1839-4341-9E34-B883B768C5CE}">
                <File Id="filB637049630FB5D2AC00236DBD60DD2BE" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="cmp54D178BF4B123B0F7249047E7AA7FE7F" Guid="{5AB80D2C-B535-4CA5-8D91-8F486DA87CD6}">
                <File Id="filB1D7D8DE3D3E218CF70D1265B59FC7F6" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Sinks.Debug.dll" />
            </Component>
            <Component Id="cmp49818C715FF04B8E95F7B53BDDD323EF" Guid="{291ADC06-4DB6-4D38-BCBB-9B7756B817C0}">
                <File Id="fil1A12B15365165DDBE60433B150808BEE" KeyPath="yes" Source="$(var.LPCFolder)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp76AAA44D1FCBC2976B84875F1F6EFC4C" Guid="{5EE59625-9A9D-47F8-83EC-36D74012B9C5}">
                <File Id="fil69789C9B37EB1FE4735CB166B08D6A08" KeyPath="yes" Source="$(var.LPCFolder)\SimpleBase.dll" />
            </Component>
            <Component Id="cmp3C5190B580EDFB87D0BC5E835BB950DE" Guid="{1AC2AEA7-8D87-4FB0-8588-24340FAA797F}">
                <File Id="fil0B6369FF78F990F18A525D5F0CC6D1AB" KeyPath="yes" Source="$(var.LPCFolder)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmp441B2521942CD82440C070D7FF9F0E80" Guid="{2DCED13C-2BF5-4800-ACE6-65ACF91508B6}">
                <File Id="fil898D4EE9368003E930190207E27F6549" KeyPath="yes" Source="$(var.LPCFolder)\Thermo.CMDI.IpcCommunications.Client.deps.json" />
            </Component>
            <Component Id="cmp4BEE6BBF5C4B4A85E402D73F039EE742" Guid="{0A0FE196-9D03-45F8-9AB9-0EB4109EFFBA}">
                <File Id="fil52211F23379D38A619F3E198F6D92369" KeyPath="yes" Source="$(var.LPCFolder)\Thermo.CMDI.IpcCommunications.Client.dll" />
            </Component>
           
            <Component Id="cmp818B322B932AAF132E7A6096723D054D" Guid="{F910895C-A5CB-4040-B445-C7A36D4A8AEA}">
                <File Id="fil89E3DD6FB15BACFF7DF960046F840686" KeyPath="yes" Source="$(var.LPCFolder)\Thermo.CMDI.IpcCommunications.Client.pdb" />
            </Component>
            <Component Id="cmp027C2439EDDE01D8CE87C58A0A0F5907" Guid="{C8BC8A59-2EF0-4565-85E2-F19C1AB4903D}">
                <File Id="fil81C3FD5D809C79BAD5D005FCEB6F2E5A" KeyPath="yes" Source="$(var.LPCFolder)\Thermo.CMDI.IpcCommunications.Client.runtimeconfig.json" />
            </Component>
            <Component Id="cmpAF77041E8B9DB9A80052F0594B848EB4" Guid="{BE5889FA-FA76-4E4E-9DB6-4289229E8244}">
                <File Id="fil47273B418CE49F72F05DFC4209CE0EB3" KeyPath="yes" Source="$(var.LPCFolder)\Thermo.CMDI.IpcCommunications.Common.dll" />
            </Component>
            <Component Id="cmp1E99022ED6EC2E53AD6F673976C13776" Guid="{5003B320-3386-4114-981C-5C436F5E3B5E}">
                <File Id="fil64DD72EB8C1B26EF1C37A1F3554D4E03" KeyPath="yes" Source="$(var.LPCFolder)\Thermo.CMDI.IpcCommunications.Common.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ElectronicsComponent">
            <ComponentRef Id="cmpA0863526952F7834E7C922F065E4C8A8" />
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp2B62C064A3ED6A94B47BE64C5EB82D9E" />
            <ComponentRef Id="cmpAD5EBB392A1420D45D001D2850650946" />
            <ComponentRef Id="cmp332F189ABE775FB6B2F44FCB7028B9C6" />
            <ComponentRef Id="cmp7530465017BB74DDEEFF284B43AFA164" />
            <ComponentRef Id="cmp301336F2D44076B758CAAEAEFFD98B4B" />
            <ComponentRef Id="cmp3F2D05E350EB9478FD924CAC5B831615" />
            <ComponentRef Id="cmpD5921CC73D3D7D96B18ADAC140DDDBF5" />
            <ComponentRef Id="cmp4FDAF4C5B0BA3EB0A9736F58F6BE9C14" />
            <ComponentRef Id="cmp81015F934149FC8877A7F508324F01AF" />
            <ComponentRef Id="cmp828BABCAA179DFEF8C123894E628FE4B" />
            <ComponentRef Id="cmpFD16E629F3B1C17887ACD3B97583CB13" />
            <ComponentRef Id="cmp6F76674123E31ADA0CB0373827395329" />
            <ComponentRef Id="cmp74A2C73F11C177073B0A672936A0D5EB" />
            <ComponentRef Id="cmp214710B2088B640AA2C8ECD80E170376" />
            <ComponentRef Id="cmpA9CD02E2996345805AE749B403FD0E7A" />
            <ComponentRef Id="cmpC08CEB1C24E4A6DA79EE83CFD8BDCD60" />
            <ComponentRef Id="cmp0E9DAA4C1F27CA840B7893F6337CDC29" />
            <ComponentRef Id="cmp539EB192BE11EA8C5B17EFB0CC1DDCEB" />
            <ComponentRef Id="cmp54D178BF4B123B0F7249047E7AA7FE7F" />
            <ComponentRef Id="cmp49818C715FF04B8E95F7B53BDDD323EF" />
            <ComponentRef Id="cmp76AAA44D1FCBC2976B84875F1F6EFC4C" />
            <ComponentRef Id="cmp3C5190B580EDFB87D0BC5E835BB950DE" />
            <ComponentRef Id="cmp441B2521942CD82440C070D7FF9F0E80" />
            <ComponentRef Id="cmp4BEE6BBF5C4B4A85E402D73F039EE742" />
          
            <ComponentRef Id="cmp818B322B932AAF132E7A6096723D054D" />
            <ComponentRef Id="cmp027C2439EDDE01D8CE87C58A0A0F5907" />
            <ComponentRef Id="cmpAF77041E8B9DB9A80052F0594B848EB4" />
            <ComponentRef Id="cmp1E99022ED6EC2E53AD6F673976C13776" />
        </ComponentGroup>
    </Fragment>
</Wix>